extends layout

block content

  h2 The mode state is: #{global_mode}

  h2 Change Sign Mode

  form(method='POST' action='/modeChange')
    div.actions
      input(type="submit", value="Clock", name="ModeChangeButton")
      input(type="submit", value="Weather", name="ModeChangeButton")
      input(type="submit", value="Morning", name="ModeChangeButton")
      input(type="submit", value="Off", name="ModeChangeButton")
